img{
    border-color: blueviolet;
    border-style: double;
    border-width: 5px;
}

img:hover{
    border: 5px solid black;
    border-color:rgb(32, 178, 44);
    border-style: inset;
    border-radius: 5px;
    }

h3{
    font-family: fantasy;
    color: midnightblue;
}

h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aquamarine;
    background: linear-gradient(to right, aquamarine, rgb(16, 148, 75));
    color: darkslategrey;
}

ul{
    font-family: cursive;
    text-shadow: 0.1em 0.1em rgb(124, 120, 120);
}

ol{
    font-family: cursive;
    text-shadow: 0.1em 0.1em rgb(124, 120, 120);
}

.color1{
    color: rgb(13, 235, 68);
    font-weight: bold;
}

.color2{
    color: rgb(235, 37, 136);
    font-weight: bold;    
}

p{
    font-family: 'Grechen Fuemen', cursive;
    font-size: 25px;
    text-shadow: 0.1em 0.1em rgb(124, 120, 120);
    -webkit-text-stroke: 0.01em black;
}

h5{
    font-weight: bold;
}

ul:hover{
    cursor: pointer;
    font-size: large;
    color: red;
}

ol:hover{
    cursor: pointer;
    font-size: large;
    color: royalblue;
}

span:hover{
    cursor: pointer;
    font-family: initial;
    color: lightseagreen;
    font-size: larger;
}

body{
    background: linear-gradient( to right, white, rgb(16, 148, 75));
}